.side-by-side .editor.original::before { content: var(--aligment-database-content); }
.side-by-side .editor.modified::before { content: var(--current-database-content); }

.side-by-side .editor.original::before,
.side-by-side .editor.modified::before {
  position: absolute;
  z-index: 1;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
  opacity: 10%;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;
  letter-spacing: 0.2rem;
  font-size: 2rem;
}
