.loader-dot {
  width: 8px;
  height: 8px;
  border-radius: 50%;
  display: block;
  margin: 4px auto;
  position: relative;
  background: #FFF;
  box-shadow: -16px 0 #FFF, 16px 0 #FFF;
  box-sizing: border-box;
  animation: shadowPulse 1.5s linear infinite;
}

@keyframes shadowPulse {
  33% {
    background: #FFF;
    box-shadow: -16px 0 #be123c, 16px 0 #FFF;
  }
  66% {
    background: #be123c;
    box-shadow: -16px 0 #FFF, 16px 0 #FFF;
  }
  100% {
    background: #FFF;
    box-shadow: -16px 0 #FFF, 16px 0 #be123c;
  }
}