#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.container {
  width: 100%;
  min-width: 1200px;
  max-width: 100%;
}

.select {
  width: 100%;
  max-width: 100%;
  margin-bottom: 50px;
}

.table-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
}

td, th {
  border: 1px solid #383838;
  text-align: left;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #2e2e2e;
}

table.table-object tr {
  background-color: #3d2564;
}