@import url("@fontsource-variable/public-sans");
@import url("@fontsource-variable/fira-code");
@import url("@fontsource/barlow/800.css");
@import url("@fontsource/geist-sans/300.css");
@import url("@fontsource/geist-sans/400.css");
@import url("@fontsource/geist-sans/500.css");
@import url("@fontsource/geist-sans/600.css");
@import url("@fontsource/geist-sans/700.css");
@import url("@fontsource/geist-sans/800.css");
@import url("@fontsource/geist-sans/900.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: #f4f6f8;
    --background-paper: #FFFFFF;
    --background-paper-channel: rgba(255,255,255,0.9);
    --background-alternate: #e3e3e3;
    --background-neutral: #F4F6F8;
    --foreground: 222.2 84% 4.9%;
    --card: #fff;
    --card-strong: #efefef;
    --popover: #f6f6f7;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #1C252E; /* text-primary */
    --primary-foreground: rgba(255, 255, 255, 90%);
    --secondary: #637381; /* text-secondary */
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: #919EAB; /* text-disabled */
    --muted-foreground: 215.4 16.3% 46.9%;
    --spark: rgba(35, 34, 38, 40%);
    /* --accent: 210 40% 96.1%; */
    /* --accent: #efefef; */
    --accent: #e3e3e3;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --disabled: rgba(145 158 171 / 0.8);

    /* --border: #e9ebec; */
    --border: rgba(145,158,171,0.12);

    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Shadows */
    --custom-shadow-card: 0 0 2px 0 rgba(145 158 171 / 0.2),0 12px 24px -4px rgba(145 158 171 / 0.12);
    --custom-shadow-dropdown: 0 0 2px 0 rgba(145 158 171 / 0.24),-20px 20px 40px -4px rgba(145 158 171 / 0.24);
    --custom-shadow-dialog: -40px 40px 80px -8px rgba(0 0 0 / 0.24);

    --action-hover: rgba(145 158 171 / 0.13);
    --action-disabled: rgba(145 158 171 / 0.24); 

    /* Tamaños */
    --navbar-height: 80px;

    /* Paleta de colores */
    --palette-primary-lighter: #C8FAD6;
    --palette-primary-light: #5BE49B;
    --palette-primary-main: #00A76F;
    --palette-primary-dark: #007867;
    --palette-primary-darker: #004B50;

    --palette-secondary-lighter: #EFD6FF;
    --palette-secondary-light: #C684FF;
    --palette-secondary-main: #8E33FF;
    --palette-secondary-dark: #5119B7;
    --palette-secondary-darker: #27097A;

    --palette-info-lighter: #CAFDF5;
    --palette-info-light: #61F3F3;
    --palette-info-main: #00B8D9;
    --palette-info-dark: #006C9C;
    --palette-info-darker: #003768;
    
    --palette-grey-50: #FCFDFD;
    --palette-grey-100: #F9FAFB;
    --palette-grey-200: #F4F6F8;
    --palette-grey-300: #DFE3E8;
    --palette-grey-400: #C4CDD5;
    --palette-grey-500: #919EAB;
    --palette-grey-600: #637381;
    --palette-grey-700: #454F5B;
    --palette-grey-800: #1C252E;
    --palette-grey-900: #141A21;
  }

  .dark {
    --background: #141a21;
    --background-alternate: #1f2024;
    --background-paper: #1C252E;
    --background-paper-channel: rgba(28,37,46,0.9);
    --background-neutral: #28323D;
    --background-default-channel: 20 26 33;
    --foreground: 210 40% 98%;
    --card: #1c252e;
    --card-strong: #181919;
    --popover: rgb(10, 10, 10);
    --popover-foreground: 210 40% 98%;
    --primary: #FFFFFF; /* text-primary */
    --primary-foreground: #232226;
    --secondary: #919EAB; /* text-secondary */
    --secondary-foreground: 210 40% 98%;
    --muted: #637381; /* text-disabled */
    --muted-foreground: 215 20.2% 65.1%;
    --spark: rgba(255,255,255,25%);
    --accent: #3d3f43;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --disabled: rgba(145 158 171 / 0.8);
    /* --border: rgba(255,255,255,6%); */
    --border: rgba(145,158,171,0.08); /* border-navbar */
    --input: 220 5% 25%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Shadows */
    --custom-shadow-card: 0 0 2px 0 rgba(0 0 0 / 0.2),0 12px 24px -4px rgba(0 0 0 / 0.12);
    --custom-shadow-dropdown: 0 0 2px 0 rgba(0 0 0 / 0.24),-20px 20px 40px -4px rgba(0 0 0 / 0.24);
    --custom-shadow-dialog: -40px 40px 80px -8px rgba(0 0 0 / 0.24);

    --action-hover: rgba(145 158 171 / 0.08);
    --action-disabled: rgba(145 158 171 / 0.24); 

    --palette-divider: rgba(145 158 171 / 0.2);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  .mix-colored-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIiBmaWxsPSJ1cmwoI3BhaW50MF9yYWRpYWxfMjc0OV8xNDUxODYpIiBmaWxsLW9wYWNpdHk9IjAuMTIiLz4KPGRlZnM+CjxyYWRpYWxHcmFkaWVudCBpZD0icGFpbnQwX3JhZGlhbF8yNzQ5XzE0NTE4NiIgY3g9IjAiIGN5PSIwIiByPSIxIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAgMS44MTgxMmUtMDUpIHJvdGF0ZSgtNDUpIHNjYWxlKDEyMy4yNSkiPgo8c3RvcCBzdG9wLWNvbG9yPSIjMDBCOEQ5Ii8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzAwQjhEOSIgc3RvcC1vcGFjaXR5PSIwIi8+CjwvcmFkaWFsR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg=="), url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIiBmaWxsPSJ1cmwoI3BhaW50MF9yYWRpYWxfMjc0OV8xNDUxODcpIiBmaWxsLW9wYWNpdHk9IjAuMTIiLz4KPGRlZnM+CjxyYWRpYWxHcmFkaWVudCBpZD0icGFpbnQwX3JhZGlhbF8yNzQ5XzE0NTE4NyIgY3g9IjAiIGN5PSIwIiByPSIxIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09InRyYW5zbGF0ZSgwIDEyMCkgcm90YXRlKDEzNSkgc2NhbGUoMTIzLjI1KSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRjU2MzAiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRkY1NjMwIiBzdG9wLW9wYWNpdHk9IjAiLz4KPC9yYWRpYWxHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K");
    background-size: 50%, 50%;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    background-position: right top, left bottom;
    outline: 0px;
  }

  .main-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/backgrounds/hero-blur.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  .gradient-text {
    background: linear-gradient(90deg, #ff7a18, #af002d 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login-box-background {
    background-image: 
      linear-gradient(0deg, rgba(var(--background-default-channel) / 0.92), 
      rgba(var(--background-default-channel) / 0.92)), 
      url(/backgrounds/background-3-blur.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}


/* Customizar el scrollbawr */
@layer utilities {
  ::-webkit-scrollbar {
    width: 14px; /* Ancho del scrollbar */
    /*height: 8px; /* Altura del scrollbar horizontal */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #686868; /* Color del scrollbar (gris de Tailwind) */
    /*border-radius: 4px; /* Bordes redondeados */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #777777; /* Color más oscuro al pasar el mouse */
  }

  ::-webkit-scrollbar-track {
    background-color: #424242; /* Color del fondo del track (gris claro) */
  }
}