@import "tailwindcss";

@custom-variant dark (&:is(.dark *));

@theme {
  --font-sans: "Public Sans Variable", "Geist Sans", "Fira Code Variable", "Barlow", sans-serif;
  --font-fira: "Fira Code Variable", monospace;

  --color-border: var(--border);
  --color-input: hsl(var(--input));
  --color-ring: hsl(var(--ring));
  --color-baselayer: var(--baselayer);

  --color-background: var(--background);
  --color-background-paper: var(--background-paper);
  --color-background-alternate: var(--background-alternate);
  --color-background-paperchanel: var(--background-paper-channel);
  --color-background-neutral: var(--background-neutral);

  --color-foreground: hsl(var(--foreground));

  --color-primary: var(--primary);
  --color-primary-foreground: var(--primary-foreground);

  --color-secondary: var(--secondary);
  --color-secondary-foreground: hsl(var(--secondary-foreground));

  --color-spark: var(--spark);

  --color-destructive: hsl(var(--destructive));
  --color-destructive-foreground: hsl(var(--destructive-foreground));

  --color-muted: var(--muted);
  --color-muted-foreground: hsl(var(--muted-foreground));

  --color-accent: var(--accent);
  --color-accent-foreground: hsl(var(--accent-foreground));

  --color-disabled: var(--disabled);

  --color-popover: var(--popover);
  --color-popover-foreground: hsl(var(--popover-foreground));

  --color-card: var(--card);
  --color-card-strong: var(--card-strong);

  --color-action-hover: var(--action-hover);
  --color-action-disabled: var(--action-disabled);

  --color-palette-diviver: var(--palette-divider);

  --color-palette-grey-50: var(--palette-grey-50);
  --color-palette-grey-100: var(--palette-grey-100);
  --color-palette-grey-200: var(--palette-grey-200);
  --color-palette-grey-300: var(--palette-grey-300);
  --color-palette-grey-400: var(--palette-grey-400);
  --color-palette-grey-500: var(--palette-grey-500);
  --color-palette-grey-600: var(--palette-grey-600);
  --color-palette-grey-700: var(--palette-grey-700);
  --color-palette-grey-800: var(--palette-grey-800);
  --color-palette-grey-900: var(--palette-grey-900);

  --color-palette-primary-lighter: var(--palette-primary-lighter);
  --color-palette-primary-light: var(--palette-primary-light);
  --color-palette-primary-main: var(--palette-primary-main);
  --color-palette-primary-dark: var(--palette-primary-dark);
  --color-palette-primary-darker: var(--palette-primary-darker);
  --color-palette-primary-contrastText: var(--palette-primary-contrastText);

  --color-palette-secondary-lighter: var(--palette-secondary-lighter);
  --color-palette-secondary-light: var(--palette-secondary-light);
  --color-palette-secondary-main: var(--palette-secondary-main);
  --color-palette-secondary-dark: var(--palette-secondary-dark);
  --color-palette-secondary-darker: var(--palette-secondary-darker);
  --color-palette-secondary-contrastText: var(--palette-secondary-contrastText);

  --color-palette-success-lighter: var(--palette-success-lighter);
  --color-palette-success-light: var(--palette-success-light);
  --color-palette-success-main: var(--palette-success-main);
  --color-palette-success-dark: var(--palette-success-dark);
  --color-palette-success-darker: var(--palette-success-darker);
  --color-palette-success-contrastText: var(--palette-success-contrastText);

  --color-palette-info-lighter: var(--palette-info-lighter);
  --color-palette-info-light: var(--palette-info-light);
  --color-palette-info-main: var(--palette-info-main);
  --color-palette-info-dark: var(--palette-info-dark);
  --color-palette-info-darker: var(--palette-info-darker);
  --color-palette-info-contrastText: var(--palette-info-contrastText);
  --color-palette-info-mainChannel: rgba(var(--palette-info-mainChannel));

  --radius-lg: var(--radius);
  --radius-md: calc(var(--radius) - 2px);
  --radius-sm: calc(var(--radius) - 4px);

  --width-sidebar: 350px;
  --width-content-area: calc(100% - 350px);

  --animate-accordion-down: accordion-down 0.2s ease-out;
  --animate-accordion-up: accordion-up 0.2s ease-out;

  --shadow-custom-z1: 0 1px 2px 0 rgba(0, 0, 0, 0.16);
  --shadow-custom-card: var(--custom-shadow-card);
  --shadow-custom-dropdown: var(--custom-shadow-dropdown);
  --shadow-custom-dialog: var(--custom-shadow-dialog);
  
  --color-palette-test: oklch(var(--palette-test));
  --color-dusk: oklch(0.82 0.15 72.09);

  @keyframes accordion-down {
    from {
      height: 0;
    }
    to {
      height: var(--radix-accordion-content-height);
    }
  }
  @keyframes accordion-up {
    from {
      height: var(--radix-accordion-content-height);
    }
    to {
      height: 0;
    }
  }
}

@utility container {
  margin-inline: auto;
  padding-inline: 2rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1400px) {
    max-width: 1400px;
  }
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@layer base {
  :root {
    --background: #ffffff;
    --background-paper: #FFFFFF;
    --background-paper-channel: rgba(255,255,255,0.9);
    --background-alternate: #e3e3e3;
    --background-neutral: #F4F6F8;
    --background-default-channel: 255 255 255;
    --foreground: 222.2 84% 4.9%;
    --card: #fff;
    --card-strong: #efefef;
    --popover: #f6f6f7;
    --popover-foreground: 222.2 84% 4.9%;
    --primary: #1C252E; /* text-primary */
    --primary-foreground: rgba(255, 255, 255, 90%);
    --secondary: #637381; /* text-secondary */
    --secondary-foreground: 222.2 47.4% 11.2%;
    --muted: #919EAB; /* text-disabled */
    --muted-foreground: 215.4 16.3% 46.9%;
    --spark: rgba(35, 34, 38, 40%);
    /* --accent: 210 40% 96.1%; */
    /* --accent: #efefef; */
    --accent: #e3e3e3;
    --accent-foreground: 222.2 47.4% 11.2%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 40% 98%;
    --disabled: rgba(145 158 171 / 0.8);

    /* --border: #e9ebec; */
    --border: rgba(145,158,171,0.25);

    --input: 214.3 31.8% 91.4%;
    --ring: 222.2 84% 4.9%;
    --radius: 0.5rem;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;

    /* Shadows */
    --custom-shadow-card: 0 0 2px 0 rgba(145 158 171 / 0.2),0 12px 24px -4px rgba(145 158 171 / 0.12);
    --custom-shadow-dropdown: 0 0 2px 0 rgba(145 158 171 / 0.24),-20px 20px 40px -4px rgba(145 158 171 / 0.24);
    --custom-shadow-dialog: -40px 40px 80px -8px rgba(0 0 0 / 0.24);

    --action-hover: rgba(145 158 171 / 0.13);
    --action-disabled: rgba(145 158 171 / 0.24); 

    /* Tamaños */
    --navbar-height: 150px;

    /* Paleta de colores */
    --palette-primary-lighter: #FEF4D4;
    --palette-primary-light: #FED680;
    --palette-primary-main: #fda92d;
    --palette-primary-dark: #B66816;
    --palette-primary-darker: #793908;
    --palette-primary-contrastText: #1C252E;

    --palette-secondary-lighter: #EFD6FF;
    --palette-secondary-light: #C684FF;
    --palette-secondary-main: #8E33FF;
    --palette-secondary-dark: #5119B7;
    --palette-secondary-darker: #27097A;
    --palette-secondary-contrastText: #FFFFFF;

    --palette-success-lighter: #D3FCD2;
    --palette-success-light: #77ED8B;
    --palette-success-main: #22C55E;
    --palette-success-dark: #118D57;
    --palette-success-darker: #065E49;
    --palette-success-contrastText: #ffffff;

    --palette-info-lighter: #CAFDF5;
    --palette-info-light: #61F3F3;
    --palette-info-main: #00B8D9;
    --palette-info-dark: #006C9C;
    --palette-info-darker: #003768;
    --palette-info-contrastText: #FFFFFF;
    --palette-info-mainChannel: 0 184 217;
    
    --palette-grey-50: #FCFDFD;
    --palette-grey-100: #F9FAFB;
    --palette-grey-200: #F4F6F8;
    --palette-grey-300: #DFE3E8;
    --palette-grey-400: #C4CDD5;
    --palette-grey-500: #919EAB;
    --palette-grey-600: #637381;
    --palette-grey-700: #454F5B;
    --palette-grey-800: #1C252E;
    --palette-grey-900: #141A21;
    --palette-test: 0.82 0.15 72.09;
  }

  .dark {
    --background: #141a21;
    --background-alternate: #1f2024;
    --background-paper: #1C252E;
    --background-paper-channel: rgba(28,37,46,0.9);
    --background-neutral: #28323D;
    --background-default-channel: 20 26 33;
    --foreground: 210 40% 98%;
    --card: #1c252e;
    --card-strong: #181919;
    --popover: rgb(10, 10, 10);
    --popover-foreground: 210 40% 98%;
    --primary: #FFFFFF; /* text-primary */
    --primary-foreground: #232226;
    --secondary: #919EAB; /* text-secondary */
    --secondary-foreground: 210 40% 98%;
    --muted: #637381; /* text-disabled */
    --muted-foreground: 215 20.2% 65.1%;
    --spark: rgba(255,255,255,25%);
    --accent: #3d3f43;
    --accent-foreground: 210 40% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 40% 98%;
    --disabled: rgba(145 158 171 / 0.8);
    /* --border: rgba(255,255,255,6%); */
    --border: rgba(145,158,171,0.15); /* border-navbar */
    --input: 220 5% 25%;
    --ring: 212.7 26.8% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;

    /* Shadows */
    --custom-shadow-card: 0 0 2px 0 rgba(0 0 0 / 0.2),0 12px 24px -4px rgba(0 0 0 / 0.12);
    --custom-shadow-dropdown: 0 0 2px 0 rgba(0 0 0 / 0.24),-20px 20px 40px -4px rgba(0 0 0 / 0.24);
    --custom-shadow-dialog: -40px 40px 80px -8px rgba(0 0 0 / 0.24);

    --action-hover: rgba(145 158 171 / 0.08);
    --action-disabled: rgba(145 158 171 / 0.24); 

    --palette-divider: rgba(145 158 171 / 0.2);
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }

  button:not(:disabled),
  [role="button"]:not(:disabled) {
    cursor: pointer;
  }

  .mix-colored-background {
    background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIiBmaWxsPSJ1cmwoI3BhaW50MF9yYWRpYWxfMjc0OV8xNDUxODYpIiBmaWxsLW9wYWNpdHk9IjAuMTIiLz4KPGRlZnM+CjxyYWRpYWxHcmFkaWVudCBpZD0icGFpbnQwX3JhZGlhbF8yNzQ5XzE0NTE4NiIgY3g9IjAiIGN5PSIwIiByPSIxIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09InRyYW5zbGF0ZSgxMjAgMS44MTgxMmUtMDUpIHJvdGF0ZSgtNDUpIHNjYWxlKDEyMy4yNSkiPgo8c3RvcCBzdG9wLWNvbG9yPSIjMDBCOEQ5Ii8+CjxzdG9wIG9mZnNldD0iMSIgc3RvcC1jb2xvcj0iIzAwQjhEOSIgc3RvcC1vcGFjaXR5PSIwIi8+CjwvcmFkaWFsR3JhZGllbnQ+CjwvZGVmcz4KPC9zdmc+Cg=="), url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTIwIiBoZWlnaHQ9IjEyMCIgdmlld0JveD0iMCAwIDEyMCAxMjAiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CjxyZWN0IHdpZHRoPSIxMjAiIGhlaWdodD0iMTIwIiBmaWxsPSJ1cmwoI3BhaW50MF9yYWRpYWxfMjc0OV8xNDUxODcpIiBmaWxsLW9wYWNpdHk9IjAuMTIiLz4KPGRlZnM+CjxyYWRpYWxHcmFkaWVudCBpZD0icGFpbnQwX3JhZGlhbF8yNzQ5XzE0NTE4NyIgY3g9IjAiIGN5PSIwIiByPSIxIiBncmFkaWVudFVuaXRzPSJ1c2VyU3BhY2VPblVzZSIgZ3JhZGllbnRUcmFuc2Zvcm09InRyYW5zbGF0ZSgwIDEyMCkgcm90YXRlKDEzNSkgc2NhbGUoMTIzLjI1KSI+CjxzdG9wIHN0b3AtY29sb3I9IiNGRjU2MzAiLz4KPHN0b3Agb2Zmc2V0PSIxIiBzdG9wLWNvbG9yPSIjRkY1NjMwIiBzdG9wLW9wYWNpdHk9IjAiLz4KPC9yYWRpYWxHcmFkaWVudD4KPC9kZWZzPgo8L3N2Zz4K");
    background-size: 50%, 50%;
    background-repeat: no-repeat;
    backdrop-filter: blur(20px);
    background-position: right top, left bottom;
    outline: 0px;
  }

  .main-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url(/backgrounds/hero-blur.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: -1;
  }

  .gradient-text {
    background: linear-gradient(90deg, #ff7a18, #af002d 70%);
    background-clip: text;
    -webkit-text-fill-color: transparent;
  }

  .login-box-background {
    background-image: 
      linear-gradient(0deg, rgba(var(--background-default-channel) / 0.92), 
      rgba(var(--background-default-channel) / 0.92)), 
      url(/backgrounds/background-3-blur.webp);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
}


/* Customizar el scrollbawr */
@layer utilities {
  ::-webkit-scrollbar {
    width: 14px; /* Ancho del scrollbar */
    /*height: 8px; /* Altura del scrollbar horizontal */
  }

  ::-webkit-scrollbar-thumb {
    background-color: #686868; /* Color del scrollbar (gris de Tailwind) */
    /*border-radius: 4px; /* Bordes redondeados */
  }

  ::-webkit-scrollbar-thumb:hover {
    background-color: #777777; /* Color más oscuro al pasar el mouse */
  }

  ::-webkit-scrollbar-track {
    background-color: #424242; /* Color del fondo del track (gris claro) */
  }
  
  input#toggle[type=checkbox]:checked + .wrapper {
    @apply bg-baselayer;
  }
  
  input#toggle[type=checkbox]:checked + .wrapper label {
    @apply bg-card;
  }
  
  input#toggle[type=checkbox]:checked + .wrapper label .circle {
    @apply left-full bg-black translate-x-[-110%] translate-y-[-50%];
  }
  
  input#toggle[type=checkbox]:checked + .wrapper label .circle .isun {
    @apply mt-[150%] opacity-0;
  }
  
  input#toggle[type=checkbox]:checked + .wrapper label .circle .imoon {
    @apply mt-0 opacity-100;
  }
}