{
  "$schema": "https://json.schemastore.org/swcrc",
  "sourceMaps": true,
  "minify": true,
  "jsc": {
    "parser": {
      "syntax": "typescript",
      "decorators": true,
      "dynamicImport": true
    },
    "baseUrl": "./",
    "paths": {
      "@/*": ["src/*"]
    },
    "target": "esnext",
    "minify": {
      "compress": {
        "drop_console": false,
        "unused": true
      },
      "mangle": true
    }
  },
  "module": {
    "type": "es6",
    "resolveFully": true
  }
}